<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo-01-1.png" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu tw-justify-center tw-items-center"
    [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <span title="{{dataUserInSession?.name}} {{dataUserInSession?.lastName}}"
     class="tw-font-bold tw-capitalize tw-max-w-52 tw-overflow-hidden tw-text-ellipsis tw-whitespace-nowrap">
     {{dataUserInSession?.name}} {{dataUserInSession?.lastName}}
    </span>
    <button class="p-link layout-topbar-button" (click)="redirecToProfile()">
        <i class="pi pi-user"></i>
        <span>Perfil</span>
    </button>
</div>
</div>