::ng-deep p-accordion {
  .p-accordion .p-accordion-content {
    border: 0;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    border: 0;

  }

  .p-accordion .p-accordion-header-link {
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 0;
    color: #6b7280 !important;

  }
}