<article class="">
    <form [formGroup]="form">
        <p>
            Ingrese el número de identificación para solicitar el cambio de contraseña
        </p>
        <div class="p-fluid p-formgrid grid">
            <div class="field mb-0 col-12">
                <label htmlFor="identification">Identificación</label>
                <span class="p-input-icon-left">
                    <i class="pi pi-id-card"></i>
                    <input [ngClass]="{'ng-dirty ng-invalid': form.controls['identification'].errors}" pInputText
                        id="identification" formControlName="identification" aria-describedby="identification" />
                </span>
            </div>
        </div>
    </form>
    <section class="option__butons tw-flex tw-justify-center  tw-gap-3 tw-mt-1">
        <div class="tw-w-full">
            <p-button styleClass="tw-w-full" label="Cerrar" [text]="true" severity="secondary" (click)="closeModal()" />
        </div>
        <div class="tw-w-full">
            <p-button styleClass="tw-w-full" label="Solicitar Cambio" (click)="requestChange()" [disabled]="!form.valid"
                [icon]="loading ?  'pi pi-spin pi-spinner' : ''" />
        </div>
    </section>
</article>