::ng-deep p-table {

    .p-datatable .p-datatable-thead>tr>th {
        text-align: center;
        padding: 1rem 1rem;
        background:transparent !important;
    }

    .p-datatable .p-datatable-tfoot>tr>td {
    
        background:  transparent !important;;
    }

    .p-datatable .p-datatable-tbody>tr>td {
        text-align: center;
    }
    .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead,
    .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-tfoot, .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-scroller-viewport > .p-scroller > .p-datatable-table > .p-datatable-thead,
    .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-scroller-viewport > .p-scroller > .p-datatable-table > .p-datatable-tfoot {
        background-color: transparent;
      }
}