<article class="filter-medical-request">
    <form [formGroup]="form">
        <div class="p-fluid p-formgrid grid">
            <div class="field mb-0 px-1 col-12 md:col-3 lg:col-2">
                <label htmlFor="startDate" class="white-space-nowrap">Fecha inicio</label>
                <p-calendar [iconDisplay]="'input'"
                    [ngClass]="{'ng-dirty ng-invalid':form.controls['startDate'].errors}" [showIcon]="true"
                    inputId="startDate" placeholder="dd/MM/yyyy" formControlName="startDate" />
            </div>
            <div class="field mb-0 px-1 col-12 md:col-3 lg:col-2">
                <label htmlFor="endDate">Fecha final</label>
                <p-calendar [iconDisplay]="'input'" [ngClass]="{'ng-dirty ng-invalid':form.controls['endDate'].errors}"
                    [showIcon]="true" inputId="endDate" placeholder="dd/MM/yyyy" formControlName="endDate" />
            </div>

            <div class="field mb-0 px-1 col-12 md:col-3">
                <label htmlFor="identification">Identificación</label>
                <span class="p-input-icon-left">
                    <i class="pi pi-id-card"></i>
                    <input [ngClass]="{'ng-dirty ng-invalid':form.controls['identification'].errors}" pInputText
                        id="identification" formControlName="identification" aria-describedby="identification"
                        placeholder="Identificación" />
                </span>
            </div>
            <div class="field mb-0 px-1 col-12 md:col-3">
                <label htmlFor="statusOrder">Estado</label>
                <p-dropdown [ngClass]="{'ng-dirty ng-invalid': form.controls['statusOrder'].errors}"
                    [options]="typesStatusOrder" formControlName="statusOrder" optionValue="value" optionLabel="label"
                    placeholder="Selecciona" id="statusOrder">
                </p-dropdown>
            </div>
            <!-- tw-flex tw-justify-center tw-items-end tw-gap-1 tw-w-full -->
            <div class="option__butons col-12 md:col-12 lg:col-2 ">
                <div class=" flex   flex-column sm:flex-row  md:flex-row  lg:flex-column">
                    <p-button class="tw-w-full md:tw-w-full" label="Limpiar" icon="pi pi-times" [text]="true"
                        severity="secondary" (click)="cleanFilters()" />
                    <p-button class="tw-w-full md:tw-w-full" label="Buscar"
                        [icon]="loadingSearch ? 'pi pi-spin pi-spinner' : 'pi pi-search'" (click)="searchOrders()" />
                </div>
            </div>
        </div>
    </form>
</article>