<main class="tw-mb-1">
    <header>
        <h2 class="">Historial de Solicitudes</h2>
    </header>
    <section class="card tw-p-2 tw-flex tw-flex-col" style="min-height: calc(100vh - 224px);">
        <app-table-base-styles>
            <p-table p-table-base [value]="reponseOrder" [scrollable]="true" [scrollHeight]="'400px'"
                responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Fecha de creación</th>
                        <th>Estado</th>
                        <th>Comentario</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>{{ order.id }} </td>
                        <td>{{ order.userOrderIdentification }}</td>
                        <td>{{ order.userOrderName }}</td>
                        <td>{{ order.creationDate | date :'medium'}}</td>
                        <td>
                            @if (order.partial && (order.statusOrder === statusOrder.Send || order.statusOrder ===
                            statusOrder.Delivered)) {
                            <span pBadge value="Parcial" [size]="''"
                                class="status__order {{order?.statusOrder}} tw-inline-block tw-rounded-full tw-py-3 tw-px-4 tw-min-w-full"
                                [ngStyle]="order?.statusOrder | getStylesStatusOrder">
                                {{ order.statusOrder | dictionaryStatusOrder}}
                            </span>
                            }@else{
                            <span
                                class="status__order {{order?.statusOrder}} tw-inline-block tw-rounded-full tw-py-3 tw-px-4 tw-min-w-full"
                                [ngStyle]="order?.statusOrder | getStylesStatusOrder">
                                {{ order.statusOrder | dictionaryStatusOrder}}
                            </span>
                            }
                        </td>
                        <td>
                            <span>
                                @if(order && order.observations){
                                <p-button label="Ver Comentario" [icon]="'pi pi-eye'" [outlined]="true" [size]="'small'"
                                    (click)="showDetail(order)" />

                                }@else{
                                <small class="tw-whitespace-nowrap">Sin Comentarios</small>
                                }
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </app-table-base-styles>
        @if (reponseOrder.length === 0) {
        <div class="tw-h-full tw-flex-grow tw-flex tw-justify-center tw-items-center">
            <div class="tw-text-center">
                <p class="tw-font-bold tw-text-2xl tw-text-stone-600 my-1">No se encontraron resultados.</p>
                <p class="tw-text-stone-600 my-1">En este momento no cuenta con ninguna orden</p>
            </div>
        </div>
        }
    </section>
</main>

@if (observationOrder) {
<p-dialog header="Observaciones Realizadas" [(visible)]="showObservation" [modal]="true"
    [breakpoints]="{ '1199px': '70%', '700px': '90%' }" [style]="{ width: '35%' }" [draggable]="false"
    [resizable]="false">
    <div class="order__observation tw-min-h-24 tw-max-h-60  tw-overflow-y-auto scroll">
        @if(ordenDetails?.partial){
        <h4 class="text-primary tw-font-semibold">
            Envio parcial
        </h4>
        }
        <p>
            {{observationOrder}}
        </p>
        @if(ordenDetails?.partial){
        <p-divider align="center" type="solid" />
        <p class="tw-m-0 ">
            <span class="tw-font-semibold">
                Cantidad pendientes
            </span>
            <span class="text-primary tw-font-semibold">
                {{ordenDetails?.totalPending }}
            </span>
        </p>

        <p class="tw-m-0 tw-mt-2">
            <span class="tw-font-semibold">
                Detalle medicamentos pendientes
            </span>
        </p>
        <p class="tw-m-0">
            <span>
                {{ordenDetails?.detailsPending }}
            </span>
        </p>
        }
    </div>
    <ng-template pTemplate="footer">
        <div class="tw-w-full">
            <p-button styleClass="tw-w-full" label="Cerrar" [text]="true" severity="secondary"
                (click)="observationOrder = null;showObservation = false" />
        </div>
    </ng-template>
</p-dialog>
}